

- name: Create Application Database
  community.mysql.mysql_db:
    name: '{{ mysql_app_database }}'
    state: present

- name: Create Application DB User
  mysql_user:
    name: '{{ mysql_app_user }}'
    password: '{{ mysql_app_password }}'
    priv: '{{ mysql_app_database }}.*:ALL'
    host: '%' 
    state: present