---
# This role installs httpd

- name: Install httpd
  yum:
    name:
    - httpd
    - php
    - php-mysql
    - git
    state: present

- name: Configure SELinux to allow httpd to connect to remote database
  seboolean:
    name: httpd_can_network_connect_db
    state: true
    persistent: yes
  when: sestatus.rc != 0

- name: Configure the httpd conf
  template: 
   src: httpd.conf.j2
   dest: /etc/httpd/conf/httpd.conf
  notify: reload httpd

# - name: Remove welcome page conf
#   ansible.builtin.file:
#     path: /etc/httpd/conf.d/welcome.conf
#     state: absent

- name: http service state
  service:
    name: httpd
    state: started
    enabled: yes

