---
# This role clone application git repository in web root

# - name: Remove old app
#   ansible.builtin.shell: rm -rf /var/www/html

- name: Create html root
  ansible.builtin.file:
    path: /var/www/html/
    state: directory
    owner: apache
    group: apache

- name: Copy the code from repository
  git: 
    repo: '{{ repository }}'
    version: '{{ webapp_version }}'
    dest: '/var/www/html/'
    update: no

- name: Setup database connection
  template:
    src: database.php.j2
    dest: /var/www/html/application/config/database.php

- name: Recursively change ownership of a directory
  ansible.builtin.file:
    path: /var/www/html/
    state: directory
    recurse: yes
    owner: apache
    group: apache